<!doctype html>
<head> 
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="<%= CONSTANTS[:STATIC_URL] + @css%>" rel='stylesheet'> 
  <link href="css/main.css" rel='stylesheet'> 
  <title>Sinatra Template</title>
  <script type="text/javascript">
    var BASE_URL = '<%= CONSTANTS[:BASE_URL] %>';
    var STATICS_URL  = '<%= CONSTANTS[:STATIC_URL] %>';
    var MODULOS_JSON = JSON.parse('<%=  @menu %>');
    var ITEMS_JSON = JSON.parse('<%=  @items %>');
    var DATA = JSON.parse('<%=  @data %>');
    var metas = document.getElementsByTagName('meta'); 
    var CSRF = '<%= CONSTANTS[:CSRF] %>';
  </script>
</head> 
<body>
  <button type="button" class="btn btn-primary btn-lg oculto" data-toggle="modal" data-target="#modal-container"  id="btnModal" >Launch demo modal</button>
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
    <!-- Fin Modal -->
  <div id="app"></div>
    <script id="template" type="text/x-handlebars-template">
      {{> header}}
      {{> breadcrumb}}
      {{> contenido}}
      {{> footer}}
  </script>
  <script id="header-template" type="text/x-handlebars-template">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><i class="fa fa-wpexplorer icono-brand" aria-hidden="true"></i>Quinua Smart</a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{{menuModulos}}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{BASE_URL}}login/ver">Pepe Valdivia</a></li>
          <li><a href="{{BASE_URL}}login/cerrar">Salir</a></li>
        </ul>
      </div>
    </nav>
    <!-- Fin Header -->  
  </script>
  <script id="breadcrumb-template" type="text/x-handlebars-template">
  
  </script>
  <script id="contenido-template" type="text/x-handlebars-template">
    <div class="container content">
      <div class="col-md-2" id="menu-side">
        {{{menuSubModulos}}}
      </div>
      <div class="col-md-10" id="workspace">
        <!-- Inicio Yield-->
        {{> yield}}
        <!-- Fin Yield-->
      </div>
    </div>
  </script>
  <script id="footer-template" type="text/x-handlebars-template">
    <footer class="nb-footer">
      <section class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6" style="color: #fdfdfd;">
              <p>Copyright © 2017. Your Company.</p>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>
      </section>
    </footer>
  </script>
  <script id="blank-template" type="text/x-handlebars-template">
    {{> yield}}
  </script>
  <script id="yield" type="text/x-handlebars-template">
    <%= yield %>
  </script>
  <script type="text/javascript" src="<%= CONSTANTS[:STATIC_URL] + @js%>"></script>
</body> 
</html> 